<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{tittle}}</title>
  </head>
  <body>
    <header>
      {{!-- <div class="tittle">
        <img src="" alt="logo pagina"/>
      </div> --}}
      <nav>
        <ul>
          <li> <a href="/">Inicio</li>
          <li><a href="/realtimeproducts">Productos actuales</a></li>
          <li> <a href="/cart">Carrito</a></li>
          <li><a href="/chat">Chat</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
    <script src="/js/index.js"></script>
  </body>
</html>